<div class="container">
<mat-toolbar>
    <span>Coded By <a href="https://www.linkedin.com/in/luís-phillipe-nunes-dalilla-082595167/">Luis Phillipe</a> - Test for Job Position!</span>
    <span class="example-spacer"></span>
    <div class="icons">

        <a href="https://pt-br.facebook.com/"><button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <fa-icon [icon]="faFacebookF"></fa-icon>
        </button> </a>

        <a href="https://twitter.com/i/flow/login?input_flow_data=%7B%22requested_variant%22%3A%22eyJsYW5nIjoicHQifQ%3D%3D%22%7D">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <fa-icon [icon]="faTwitter"></fa-icon>
        </button> </a>

        <a href="https://www.google.com/">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <fa-icon [icon]="faGooglePlus"></fa-icon>
        </button></a>

        <a href=" https://youtu.be/8Czbx4Lb4wc">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <fa-icon [icon]="faYoutube"></fa-icon>
        </button></a>

        <a href="https://www.instagram.com/luisdalilla/"><button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <fa-icon [icon]="faInstagram"></fa-icon>
        </button></a>
    </div>
  </mat-toolbar>
</div>
